/*
Problems:
1. Card heading boxes are different sizes DONE (UNINTENTIONAL)
2. How to fix the gap between card headings & <p> + gaps DONE (flex-grow)
3. flex-basis vs width
4. Why does width 50% not split into 2 columns (even with box-sizing)
5. Code text spills over container when screen is shrunk DONE (pre wrap)
6. Can you style one child differently to other children in a flexbox e.g. the heading container to be centrally aligned while other children are flex-start
7. How to make a flex-container child text-hugging e.g. card-heading <h2>
	Ans: width: fit-content;


/* general */
:root {
	--light-text: rgb(236, 236, 236);
	--dark-bg: #33393f;
	--turq: rgb(28, 214, 158);
	--purple: rgb(232, 102, 236);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* TOOK FROM SOLUTION */
html {
	/* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
	font-size: 62.5%;
}

body {
	background: var(--dark-bg);
	color: var(--purple);

	/* TOOK FROM SOLUTION */
	/* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	/* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
	font-size: 1.5rem;
}

h1,
h2,
h3,
p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* TOOK FROM SOLUTION */
h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

/* header section */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4rem;
	text-align: center;
	gap: 1.5rem;
}

/* header subtext */
header p {
	color: var(--light-text);
}

/* main section */
#flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

/* cards/content */
.card {
	min-height: 40vh;
	margin: 2rem;
	margin-top: 4rem;
	padding: 0.8rem;
	border: 1px dashed white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1.5rem;
	box-sizing: border-box;
}

.card:hover,
.card:hover .card-heading {
	/* TOOK FROM SOLUTION */
	box-shadow: inset 0px 0px 8px var(--turq), 0 0 15px var(--turq);
	transition: all 0.5s ease-in-out;
}
/* .code-box:hover {
	box-shadow: inset 0px 0px 8px var(--turq), 0 0 15px var(--purple);
	transition: all 0.5s ease-in-out;
} */

.card-head-container {
	display: flex;
	justify-content: center;
}

.card-heading {
	width: fit-content;
	border: 1px solid white;
	border-radius: 5px;
	padding: 0.8rem;
	position: relative;

	/* TOOK FROM SOLUTION */
	margin: -4rem 0 0.8rem 0;

	background-color: var(--dark-bg);
	text-align: center;
}

.card p {
	text-align: center;
}

.code-box {
	display: flex;
	align-items: center;
	padding: 0.8rem;
	border: 1px solid transparent;
	border-radius: 5px;
	background-image: linear-gradient(
		rgba(232, 102, 236, 0.3) 0%,
		rgba(232, 102, 236, 0.6) 100%
	);
	color: var(--light-text);
}
/* TOOK FROM SOLUTION */
.code-box pre:active {
	user-select: all;
}
::selection {
	background: var(--turq);
}

/* wrap the code text */
.code-box pre {
	white-space: pre-wrap;
}

/* TOOK FROM SOLUTION */
.card,
.code-box {
	flex-grow: 1;
}

/* footer */
footer {
	margin: 4rem;
	text-align: center;
}

/* media query for larger screens */
@media screen and (max-width: 767px) {
	.card {
		flex-basis: 100%;
	}
}

@media screen and (min-width: 768px) {
	.card {
		width: 40%;
	}
}

@media screen and (min-width: 992px) {
	.card {
		width: 25%;
	}
}
